body {
    background-color: #202020;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #E0E0E0;
    display: -moz-box;
    display: -webkit-box;
    -moz-box-pack: center;
    -webkit-box-pack: center;
}

.divall {
    background-color: rgba(000, 000, 000, .8);
    width: 50%;
    border-radius: 30px;
}

@font-face {
    font-family: Pink Floyd CYR;
    src: url(../Fonts/11798.ttf);
}

h1 {
    font-family: Pink Floyd CYR;
}

h2 {
    font-family: Pink Floyd CYR;
}

h3 {
    text-align: center;
}

p {
    text-align: justify;
    margin: 20px;
}

video {
    margin: 50px;
}

a:link {
    color: White;
}

a:visited {
    color: Pink;
}

a:hover {
    color: Red;
}

td {
    text-align: center;
}

.day {
    background-image: url(../Img/BG_Img/bg_Day.png);
}

.night {
    background-image: url(../Img/BG_Img/bg_Night.png);
}



a.photo:hover img{
    border: 3px solid #034F80;
}